langchain>=0.3.16

langchain-core>=0.3.45
langchain-community>=0.3.16
langchain-pinecone>=0.2.13
langchain-chroma>=0.1.4
langchain-google-genai>=2.0.0
langchain-huggingface==1.2.1

# Infrastructure & Processing
flask>=3.0.3
pypdf>=5.4.0
python-dotenv>=1.0.1
sentence-transformers>=3.4.1
pymupdf==1.27.2.2


# Local project link
-e .